#num1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 5px;
}

#num2 {
    margin-left: 20px;
    margin-top: 20px; 
    font-size: 18px;
    padding: 5px 4px;
}
#txt{
margin-top: 50px;
padding: 12px 30px;

}
