body{
    
    background-size: cover ;
    background-position: center;
    background: linear-gradient(45deg, #ff512f, #dd2476);
 
}

nav ul{
    display: flex;
    gap: 100px;
    justify-content: center;
    padding: 50px;
    font-size: 30px;
   
  
    
}
ul{
    list-style: none;
}
nav a {
    display: inline-block;
    padding: 12px 24px;
    background: rgb(184, 184, 255);
    border-radius: 8px;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease; 
}

nav a:hover {
    background: #00ffff; 
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}
p{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    }




.Logo img{
    display: flex;
    width: 100px;
    height: 50px;
    margin: 10px 20px 0px 30px;
    border-radius: 50px;
}
nav{
    position: fixed;
    justify-content: center;
    padding: 80px;
    margin: 20px;
}
.header{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 300px;
}
.sentence{
    font-size: 100px;
    text-align: center;
    margin-top: 500px;
    margin-bottom: 100px;
   
}
.sentence :hover{
    font-weight: bold;
    color: aliceblue;
    font-size: 40   px;
    transition: 10;
    opacity: 5;
    animation: fadeInUp 1s ease-out forwards;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(0) rotate(0deg);
  }
  to {
    opacity: 1;
    transform: translateY(60px) rotate(360deg);
  }
}